:root {
	--background-color: #1e1f27;
	--header-bg-color: #646464;
	--header-btn-bg-color: #545353;
	--header-btn-hover-bg-color: #747373;
	--calc-window-bg-color: #484747;
	--circle-red: #ff5f57;
	--circle-yellow: #ffbd2e;
	--circle-green: #28c940;
	--calc-char-bg-color: #7d7d7d;
	--calc-char-hover-bg-color: #908f8f;
	--calc-symbol-bg-color: #ff9f0a;
	--calc-symbol-hover-bg-color: #f8a82f;
	--text-color: #ffffff;
	--font-size-large: 28px;
	--font-size-medium: 1.5rem;
	--font-size-input: 23px;

	/* Box Shadow */
	--box-shadow-none: none;
	--box-shadow-standard: rgba(0, 0, 0, 0.4) 0px 2px 4px,
		rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

main {
	margin: 0 auto;
	max-width: 1300px;
}

.calc__header {
	display: flex;
	align-items: center;
	margin: 30px 0 15px 0;
	justify-content: space-between;
}

.calc__header-title {
	font-size: var(--font-size-large);
}

.calc__header-btn {
	border: none;
	font-size: 18px;
	cursor: pointer;
	padding: 10px 20px;
	letter-spacing: 1px;
	border-radius: 10px;
	color: var(--text-color);
	transition: all linear 0.2s;
	box-shadow: var(--box-shadow-standard);
	background-color: var(--header-btn-bg-color);
}

.calc__header-btn:hover {
	background-color: var(--header-btn-hover-bg-color);
}

.calc__header-btn:active {
	box-shadow: var(--box-shadow-none);
}

.calc__container {
	height: 88vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.calc__window {
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: var(--calc-window-bg-color);
}

.calc__window-cycles {
	display: flex;
	align-items: center;
}

.circle {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border-radius: 50%;
}

.red {
	background-color: var(--circle-red);
}

.yellow {
	background-color: var(--circle-yellow);
}

.green {
	background-color: var(--circle-green);
}

.calc__window-input {
	width: 100%;
	border: none;
	outline: none;
	margin-top: 10px;
	text-align: right;
	padding: 22px 20px;
	letter-spacing: 1px;
	background: transparent;
	color: var(--text-color);
	font-size: var(--font-size-input);
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.calc__window-input::-webkit-outer-spin-button,
.calc__window-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.calc__characters {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.calc__operator {
	border: none;
	width: 100%;
	height: 70px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	transition: all linear 0.2s;
	font-size: var(--font-size-medium);
	box-shadow: var(--box-shadow-standard);
	background-color: var(--calc-char-bg-color);
}

.calc__operator:active {
	box-shadow: var(--box-shadow-none);
}

.calc__operator:last-child {
	border-bottom-right-radius: 10px;
}

.calc__operator:nth-child(17) {
	width: 100%;
	grid-column: span 2;
	border-bottom-left-radius: 10px;
}

.calc__operator:hover {
	background-color: var(--calc-char-hover-bg-color);
}

.calc__top-symbol {
	color: var(--text-color);
	background-color: var(--header-bg-color);
}

.calc__top-symbol:hover {
	background-color: #757474;
}

.calc__symbol {
	font-size: 35px;
	color: var(--text-color);
	background-color: var(--calc-symbol-bg-color);
}

.calc__symbol:hover {
	background-color: var(--calc-symbol-hover-bg-color);
}

/* Responsive Styles */
@media (max-width: 1205px) {
	main {
		padding: 10px;
	}
}

@media (max-width: 460px) {
	main {
		padding: 10px;
	}

	.calc__header-title {
		font-size: 20px;
	}

	.calc__header-btn {
		font-size: 16px;
		padding: 8px 14px;
	}

	.calc__window-input {
		font-size: 18px;
	}
}
